* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-width: 500px;
  width: 80%;
  margin: 80px auto;
  border-radius: 10px;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px 10px 0 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-footer-box {
  min-height: 2vh;
  background-color: #eee;
}
.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  border-radius: 0 0 10px 10px;
}

div.main.menu {
  /* border: 1px solid black; */
  background-color: #eee;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
div.main.menu div {
  /* flex: 1; */
  /* border: 1px solid red; */
  margin: 3px;
  padding: 5px;
  width: 100px;
  border-bottom: 1px solid transparent;
}
div.main.menu div:hover {
  border-bottom: 1px solid skyblue;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
div.main.menu div.login,
div.main.menu div.logout {
  margin-left: auto;
}
div.main.menu div.logout {
  display: none;
}

div.main.menu div a {
  text-decoration: none;
  color: gray;
}
