.weekly {
  width: 100%;
  margin: 20px auto;
}
.week_daily {
  height: 50px;
  display: flex;
}
.week_daily span {
  border: 1px solid lightgray;
  flex: 1;
  margin: 3px;
  border-radius: 5px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead tr,
.table tbody tr {
  display: flex;
}
.table thead tr th {
  flex: 1;
}
.table tbody tr td {
  flex: 1;
}

.week_daily th,
.week_daily td {
  border: 1px solid #ddd;
}
.week_daily .todayTh,
.week_daily .todayTd {
  border: 2px solid black;
}

.week_daily .sun {
  color: tomato;
}

.content {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content span {
  /* background-color: blue; */
  flex: 1;
  margin: 3px;
  border-radius: 5px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content span span {
  /* display: flex; */
  position: relative;
  background-color: lightgray;
  /* flex: 1; */
  margin: 3px;
  border-radius: 5px;
  min-height: 150px;
  width: 100%;
}
.content span span .main_box {
  display: block;
  position: absolute;
  width: 90%;
  right: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content span span .side_color {
  position: absolute;
  background-color: mediumseagreen;
  width: 20px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px 0 0 5px;
}
.content span span .side_color_none {
  position: absolute;
  background-color: orange;
  width: 20px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px 0 0 5px;
}
